/* Estilos generales */
body {
	font-family: 'PT Sans', sans-serif;
	background-color: #fbfbfb;
}

/* Estilos del menú hamburguesa */

#menu {
	width: 35px;
	height: 30px;
	margin: 20px 0 10px 10px;
	cursor: pointer;
	background-color: rgba(191, 191, 249, 0.1); /* Light gray with 10% opacity */
	border-radius: 5px;
  }
  
.bar {
	height: 5px;
	width: 100%;
	background-color: rgb(241, 15, 15);
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}

#bar1 {
	transform: translateY(-4px);
}

#bar3 {
	transform: translateY(4px);
}

.nav a {
            text-decoration: none; /* Sin subrayado en los enlaces */
            color: black; /* Color del texto de los enlaces */
          	display: block; /* Hace que el área activa del enlace sea todo el bloque del <li> */
            padding: 3px; /* Añade espacio alrededor del texto del enlace */
      }
	
	.nav a:hover {
		background-color: yellow; /* Fondo amarillo al pasar el puntero */
	} 

.nav li a {
	color: #fefcfc;
	text-decoration: none;
	font-size: 12px;
	font-weight: 600;
	transition: background-color 0.3s; /* Agrega una transición suave */
}

.nav li a:hover,
.nav li a:active  {
	font-weight: bold;background-color: #FFD700; /* Cambia el fondo a amarillo fuerte al pasar el cursor o al hacer clic */
}

.nav li {
	list-style: none;
	padding: 0;
}

.nav {
	padding: 0;
	margin: 0 10px;
	transition: 0.3s ease;
	display: none;
}


#menu-bar {
	top: 0;
	left: 0;
	position: absolute;
}

.menu-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw; /* Asegura que el fondo cubra toda la ventana */
    height: 60vh; /* Asegura que el fondo cubra toda la ventana */
    z-index: 1;
    background:#1A237E; /* Fondo  azul marino */
    border-radius: 0%;
    transition: 0.3s ease;
    display: none; /* Oculto por defecto */
    padding: 5px; /* Padding de 5 px a cada lado */
    color: rgb(255,255,255);/* Color  claro para el contenido del icono */
}

.menu-bg.open {
    background: rgb(26, 35, 126, 0.7); /* Fondo azul  al abrir */
    display: block; /* Mostrar cuando se abre */
	width: 20vw;
	height: 60vh; /* Asegura que el fondo cubra toda la ventana */
	color: rgb(16, 3, 35); /* Color gris claro para el contenido del icono */
}

#menu-bar {
	z-index: 2;
}


.change .bar {
	background-color: rgb(241, 15, 15);
}

.change #bar1 {
	transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
	transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
	opacity: 0;
}

.change {
	display: block;
}

	/*Media query para pantallas de diferentes anchos */
	@media screen and (max-width: 576px) {
		
		.menu-bg {
			 background: rgba(0, 0, 0, 0.6); /* Fondo naranja  al abrir */
			 position: fixed;
			 top: 0;
			 left: 0;
			 width: 	100vw; /* Asegura que el fondo cubra toda la ventana */
			 height: 100vh; /* Asegura que el fondo cubra toda la ventana */
		 }
		 #menu-bar {
			 position: absolute; /* Cambia la posición a relativa para permitir el posicionamiento relativo del menú */
			 width: 40vw; /* Asegura que el fondo cubra toda la ventana */
			 height: 60vh; /* Asegura que el fondo cubra toda la ventana */
		 
		 }
		 .menu-bg.open {
		 width: 40vw;
		 height: 60vh; /* Asegura que el fondo cubra toda la ventana */
		 
		 }
 
	 }
 
	 @media (min-width: 576px) and (max-width: 767.98px) {
		 .menu-bg {
			 background: rgba(0, 0, 0, 0.6); /* Fondo naranja  al abrir */
			 position: fixed;
			 top: 0;
			 left: 0;
			 width: 	100vw; /* Asegura que el fondo cubra toda la ventana */
			 height: 100vh; /* Asegura que el fondo cubra toda la ventana */
	 }
		 #menu-bar {
			 position: absolute; /* Cambia la posición a relativa para permitir el posicionamiento relativo del menú */
			 width: 40vw; /* Asegura que el fondo cubra toda la ventana */
			 height: 60vh; /* Asegura que el fondo cubra toda la ventana */
		 
		 }
		 .menu-bg.open {
		 width: 40vw;
		 height: 60vh; /* Asegura que el fondo cubra toda la ventana */
		 
		 }
	 }
	 @media (min-width: 768px) and (max-width: 991.98px) { 
		 .menu-bg {
			 background: rgba(0, 0, 0, 0.6); /* Fondo naranja  al abrir */
			 position: fixed;
			 top: 0;
			 left: 0;
			 width: 	100vw; /* Asegura que el fondo cubra toda la ventana */
			 height: 100vh; /* Asegura que el fondo cubra toda la ventana */
	 }
		 #menu-bar {
			 position: absolute; /* Cambia la posición a relativa para permitir el posicionamiento relativo del menú */
			 width: 40vw; /* Asegura que el fondo cubra toda la ventana */
			 height: 60vh; /* Asegura que el fondo cubra toda la ventana */
		 
		 }
		 .menu-bg.open {
		 width: 40vw;
		 height: 60vh; /* Asegura que el fondo cubra toda la ventana*/
				 }
 
	  }
	  @media (min-width: 992px) and (max-width: 1199.98px) { 
		 .menu-bg {
			 background: rgba(0, 0, 0, 0.6); /* Fondo naranja  al abrir */
			 position: fixed;
			 top: 0;
			 left: 0;
			 width: 	100vw; /* Asegura que el fondo cubra toda la ventana */
			 height: 100vh; /* Asegura que el fondo cubra toda la ventana */
	 }
		 #menu-bar {
			 position: absolute; /* Cambia la posición a relativa para permitir el posicionamiento relativo del menú */
			 width: 25vw; /* Asegura que el fondo cubra toda la ventana */
			 height: 100vh; /* Asegura que el fondo cubra toda la ventana */
		 
		 }
	 }

    /* Estilos del menú hamburguesa para la clase 'change' */
	.change #menu-bar {
		position: fixed;  /*Cambia la posición a fija para que el menú hamburguesa se mantenga visible al desplazarse */
		top: 20px;  /*Ajusta la posición del menú en la parte superior */
	   left: 20px;  /*Ajusta la posición del menú en el borde izquierdo */
		z-index: 3;  /*Asegura que el menú hamburguesa esté por encima del menú */
	 } 




